*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    width:100%;
    height:100%;
    background-color: beige;
}
h1{
    text-align: center;
    color:brown;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 3px double brown;
    padding:10px 0px;
}